h1{
           font-size:80px;
           color: black;
}
p{
#1
           font-size:40;
           color:red;
img{
           height:1000px;
           width: auto;
}
#special{
            font-size:40px;
            color: blue;
}