h1{
           font-size:80px;
           color: black;
}


#special{
            font-size:40px;
            color: blue;
}
#bonito{
           height:1000px;
           width: auto;
}
#lol{
           height:1000px:
           width:auto;


}
