h1,p{
           font-size:80px;
           color:gray ;
}


#special{
            font-size:40px;
            color: blue;
}
#bonito{
           height:1000px;
           width:auto;
}
#lol{
           height:1000px:
           width:auto;
}
#tan{
           height:1000px:
           width:auto;
}
#ton{
           height:500px:
           width:auto;
}
#ja{
           height:1000px:
           width:auto;
}
li{
  font-size:80px;
  color: white;
}

#nana{
           height:1000px:
           width:auto;
}
#ella{
                      height:1000px:
                      width:auto;
  }

    #jalamela{
                                 height:1000px:
                                 width:auto;
                      }
body{
  background-image: url('99.jpg');
}
